asymmetree # for experiments
matplotlib
maturin    # for compiling rust into python module
networkx   # for network visualizer
pandas     # for experiments
pydot      # for network visualizer
seaborn
pytest
pyqt6      # for network visualizer
